@import 'src/scss/abstracts/variables';

.contacts-section {
  &__container.container {
    padding: 75px 10px;

    @media (max-width: $laptop-size) {
      padding: 60px 20px;
    }

    @media (max-width: $tablet-size) {
      padding: 40px 20px;
    }

    @media (max-width: $mobile-size) {
      padding: 46px 20px;
    }
  }
}

.contacts-content {
  transform: scale(0);
  transition: all 2s;

  &_visible {
    transform: scale(1);
  }

  &__heading {
    margin-bottom: 75px;
    color: $even-section-heading-color;
    font-family: Forum, serif;
    font-weight: $section-heading-font-weight;
    font-size: $section-heading-font-size;
    line-height: $section-heading-line-height;
    letter-spacing: $section-heading-letter-spacing;
    text-transform: uppercase;

    @media (max-width: $laptop-size) {
      margin-bottom: 60px;
      font-size: 50px;
      line-height: 75px;
    }

    @media (max-width: $tablet-size) {
      margin-bottom: 40px;
      font-size: 40px;
      line-height: 60px;
    }

    @media (max-width: $mobile-size) {
      font-size: 28px;
      line-height: 40px;
    }

    &::after {
      display: block;
      margin-top: 25px;
      content: ' ';
      border-bottom: 3px solid $heading-line-color;

      @media (max-width: $laptop-size) {
        margin-top: 20px;
      }
    }
  }

  &-description-and-map {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;

    @media (max-width: $tablet-size) {
      flex-direction: column;
      row-gap: 40px;
    }
  }
}
