@import 'src/scss/abstracts/mixins';
@import 'src/scss/abstracts/variables';

.play-tracker {
  width: 93%;

  @media (max-width: $tablet-size) {
    width: 80%;
  }

  @media (max-width: 500px) {
    width: 75%;
  }

  @media (max-width: $mobile-size) {
    width: 69%;
  }

  &__progress {
    background: linear-gradient(
      to right,
      #710707 0%,
      #710707 50%,
      #c4c4c4 50%,
      #c4c4c4 100%
    );
    width: 100%;
    height: 7px;
    outline: none;
    appearance: none;

    @media (max-width: $laptop-size) {
      height: 5px;
    }

    &::-webkit-slider-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      appearance: none;
      cursor: pointer;
      background: #fff;

      @media (max-width: $laptop-size) {
        width: 13px;
        height: 13px;
      }
    }
  }

  &__time {
    position: relative;
    @include flex;

    color: #fff;

    @media (max-width: $tablet-size) {
      font-size: 14px;
    }

    @media (max-width: $mobile-size) {
      font-size: 10px;
    }
  }
}

.play {
  &__tracker {
    width: 100%;

    @media (max-width: $tablet-size) {
      display: flex;
      align-items: center;
    }
  }
}

.time-progress {
  height: 16px;

  &__text {
    position: relative;
    display: none;
    color: #fff;
  }
}

.play-tracker:hover .time-progress__text {
  display: block;
}
