@import 'src/scss/abstracts/variables';

.ticket-swiper {
  position: relative;
  min-height: 550px;
  width: 50%;

  @media (max-width: $laptop-size) {
    min-height: 440px;
    width: 71%;
  }

  @media (max-width: 950px) {
    min-height: 400px;
    width: 65%;
  }

  @media (max-width: $tablet-size) {
    min-height: 340px;
    max-height: 340px;
    width: 61%;
  }

  @media (max-width: 690px) {
    min-height: 340px;
    max-height: 340px;
    width: 44%;
  }

  @media (max-width: $mobile-size) {
    height: 160px;
    min-height: 160px;
    max-height: 160px;
    width: 100%;
  }
}

.swiper {
  height: 100%;
  width: 100%;
}
