@import 'src/scss/abstracts/variables';

.__rcs-handle-root {
  cursor: grab !important;
}

.__rcs-handle-line {
  width: 3px !important;
}

.__rcs-handle-button {
  height: 39px !important;
  width: 39px !important;
  backdrop-filter: none !important;
  border-width: 3px !important;

  @media (max-width: $mobile-size) {
    height: 20px !important;
    width: 20px !important;
  }

  & div {
    display: none !important;
  }
}
