@import 'src/scss/abstracts/variables';
@import 'src/scss/abstracts/mixins';

.ticket-counter {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  &:last-child {
    margin-top: 10px;
  }

  &__heading {
    @include text(
      $even-section-text-color,
      left,
      $section-text-font-size,
      $form-labels-font-weight,
      $small-line-height
    );
  }
}

