@import 'src/scss/abstracts/variables';

.welcome-block {
  padding: 20px;
  font-family: inherit;

  &__heading {
    margin-bottom: 20px;
    font-size: 45px;
    text-align: center;
    line-height: 1.2;

    @media (max-width: $tablet-size) {
      font-size: 35px;
    }
  }

  &__subheading {
    color: #740c11;
    font-size: 35px;
    text-align: center;

    @media (max-width: $tablet-size) {
      font-size: 30px;
    }
  }
}
