@import 'src/scss/abstracts/mixins';
@import 'src/scss/abstracts/variables';

.header {
  padding: 52px 0;

  @media (max-width: $laptop-size) {
    position: relative;
  }

  @media (max-width: $tablet-size) {
    padding: 42px 0;
  }

  @media (max-width: $mobile-size) {
    padding: 35px 0;
  }

  &__container {
    @include flex;
  }

  &__logo {
    height: 33px;
    width: 199px;
    @include background-image('./img/Logo.svg');

    @media (max-width: $mobile-size) {
      height: 20px;
      width: 131px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
