@import 'src/scss/abstracts/mixins';
@import 'src/scss/abstracts/variables';

.header {
  padding: 52px 0;

  @media (max-width: 1024px) {
    position: relative;
  }

  &__container {
    @include flex;
  }

  &__logo {
    height: 33px;
    width: 199px;
    @include background-image('./img/Logo.svg');
  }
}
