@import 'src/scss/abstracts/variables';
@import 'src/scss/abstracts/mixins';

.modal {
  position: relative;
  @include flex;

  margin: 0 auto;
  padding: 91px 235px;
  max-width: 1440px;
  background-color: $even-section-background;
  transform: scale(0);
  transition: all 1s;

  @media (max-height: 900px) {
    padding: 30px 235px;
  }

  @media (max-width: 1500px) {
    padding: 50px 150px;
  }

  @media (max-width: 1300px) {
    padding: 50px 100px;
  }

  @media (max-width: 1200px) {
    padding: 50px;
  }

  @media (max-width: 1070px) {
    padding: 50px 20px;
  }

  @media (max-width: $laptop-size) {
    padding: 30px 27px;
    padding-top: 75px;
    width: 100%;
  }

  @media (max-width: $tablet-size) {
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 40px;
    max-width: 590px;
  }

  &_visible {
    transform: scale(1);
  }

  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 14;
    @include flex;

    height: 100vh;
    width: 100vw;
    background-color: rgba(211, 211, 211, 0.4);
    transform: scale(0);
    transition: all 1s;
    overflow-y: scroll;

    &_visible {
      transform: scale(1);
    }
  }
}
