@import 'src/scss/abstracts/variables';
@import 'src/scss/abstracts/mixins';

.tickets {
  background-color: $even-section-background;

  &__container.container {
    padding-top: 75px;
    padding-bottom: 75px;

    @media (max-width: $laptop-size) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media (max-width: $tablet-size) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

.tickets-content {
  opacity: 0;
  transition: all 1s;

  &_visible {
    opacity: 1;
  }

  &__heading {
    font-family: Forum, serif;
    @include text(
      $even-section-heading-color,
      left,
      $section-heading-font-size,
      $section-heading-font-weight,
      $section-heading-line-height,
      $section-heading-letter-spacing
    );

    text-transform: uppercase;

    @media (max-width: $laptop-size) {
      font-size: 50px;
      line-height: 75px;
    }

    @media (max-width: $tablet-size) {
      font-size: 40px;
      line-height: 60px;
    }

    @media (max-width: $mobile-size) {
      font-size: 28px;
      line-height: 40px;
    }

    &::after {
      display: block;
      margin-top: 25px;
      margin-bottom: 75px;
      content: ' ';
      border-bottom: 3px solid #710707;

      @media (max-width: $laptop-size) {
        margin-top: 20px;
        margin-bottom: 60px;
      }

      @media (max-width: $tablet-size) {
        margin-bottom: 40px;
      }
    }
  }

  &__buy-ticket {
    @include flex;

    align-items: unset;
    row-gap: 60px;

    @media (max-width: $mobile-size) {
      flex-direction: column;
      row-gap: 40px;
      justify-content: center;
    }
  }
}
