@import 'src/scss/abstracts/variables';

.card {
  &__img {
    margin-bottom: 25px;
    height: 285px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.description-img {
  color: $even-section-text-color;

  &__heading {
    font-family: Forum, serif;
    font-weight: $section-subheading-font-weight;
    font-size: $section-subheading-font-size;
    line-height: $section-subheading-line-height;
    letter-spacing: $section-subheading-letter-spacing;
    text-transform: uppercase;

    &::after {
      margin: 10px 0;
      width: 69%;
      display: block;
      content: ' ';
      border-bottom: 2px solid $heading-line-color;
      transition: all 1s;
    }
  }

  &__content {
    margin-top: 10px;
  }
}

.content {
  font-family: Roboto, Arial, sans-serif;

  &__heading {
    margin-bottom: 10px;
    font-size: $section-text-font-size;
    font-weight: $card-description-font-weight;
    line-height: $link-line-height;
  }

  &__text {
    font-size: $small-text;
    font-weight: $card-description-font-weight;
    line-height: $small-text-line-height;
  }
}
