/*  colors  */

$main-color: #fff;
$odd-section-btn-color: #000;
$odd-section-text-color: #fff;
$even-section-text-color: #000;
$even-section-background: #fff;
$discover-btn-background: #710707;
$heading-line-color: #710707;
$input-filling-range-line-color: #710707;
$circle-bullet-hover-background-color: #710707;
$double-arrow-hover-background-color: #710707;
$video-controls-color: #b3b3b3;
$odd-section-background: #030303;
$footer-top-border-color: #666;
$social-icon-border-color: #666;
$video-carousel-inactive-bullet-color: #999;
$even-section-heading-color: #9d8665;
$text-hover-color: #9d8665;
$btn-hover-background-color: #9d8665;
$square-bullet-hover-background-color: #9d8665;
$arrow-hover-color: #9d8665;
$link-active-color: #7e6c51;
$input-infilling-range-line-color: #c4c4c4;
$video-carousel-active-bullet-color: #333;
$explore-section-highlighted-text: #caaa7d;
$welcome-carousel-active-bullet-color: #d2b183;
$select-option-hover-background-color: #e7e7e7;

/*  font-sizes  */
$section-heading-font-size: 80px;
$section-subheading-font-size: 32px;
$section-main-text-font-size: 28px;
$section-text-font-size: 22px;
$link-font-size: 22px;
$button-font-size: 22px;
$small-text: 18px;

/*  lines height  */
$section-heading-line-height: 90px;
$section-subheading-line-height: 35px;
$section-main-text-line-height: 33px;
$section-text-line-height: 38px;
$link-line-height: 26px;
$button-line-height: 26px;
$small-text-line-height: 21px;
