@import 'src/scss/abstracts/variables';
@import 'src/scss/abstracts/mixins';

.radio-options {
  width: 40.9%;

  @media (max-width: $laptop-size) {
    display: none;
  }

  &__heading {
    margin-bottom: 40px;
    @include text(
      $even-section-text-color,
      left,
      $section-main-text-font-size,
      $form-subheading-font-weight,
      $section-main-text-line-height
    );
  }
}

.MuiFormGroup-root.css-dmmspl-MuiFormGroup-root {
  row-gap: 7px;
}

span.css-vqmohf-MuiButtonBase-root-MuiRadio-root,
span.css-1a5icme {
  margin-right: auto;

  &:hover {
    background-color: transparent;
  }
}

span.css-ahj2mt-MuiTypography-root,
span.css-9l3uo3 {
  font-family: Roboto, Arial, sans-serif;
  @include text(
    $even-section-text-color,
    inherit,
    $section-text-font-size,
    $form-labels-font-weight,
    $button-line-height,
    none
  );
}

span.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked,
span.css-1a5icme.Mui-checked {
  color: $even-section-text-color;
}
