@import 'src/scss/abstracts/variables';
@import 'src/scss/abstracts/mixins';

.video-controls {
  @include flex;

  padding: 24px 30px;
  width: 100%;
  background: $video-controls-background;

  @media (max-width: $laptop-size) {
    padding: 15px 40px;
  }

  @media (max-width: $tablet-size) {
    position: relative;
    padding: 12px 30px;
  }

  @media (max-width: $mobile-size) {
    padding: 16px 20px;
  }
}
