@import 'src/scss/abstracts/variables';

.contacts-description {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 25%;
  color: $even-section-text-color;
  font-family: Roboto, Arial, sans-serif;

  @media (max-width: 1120px) {
    width: 30%;
  }

  @media (max-width: $laptop-size) {
    row-gap: 35px;
  }

  @media (max-width: 900px) {
    width: 45%;
  }

  @media (max-width: $tablet-size) {
    row-gap: 40px;
    width: 100%;
  }

  &__heading {
    font-weight: $contacts-subheading-font-weight;
    font-size: $section-main-text-font-size;
    line-height: $section-main-text-line-height;
    white-space: pre;

    @media (max-width: $laptop-size) {
      font-size: 24px;
      line-height: 28px;
    }

    @media (max-width: $tablet-size) {
      font-size: 20px;
      line-height: 23px;
    }

    @media (max-width: $mobile-size) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__addresses {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    @media (max-width: $laptop-size) {
      row-gap: 15px;
    }
  }
}

.contact-address {
  display: flex;
  column-gap: 5px;
  font-weight: $plain-text-font-weight;
  font-size: $section-text-font-size;
  line-height: $small-line-height;

  @media (max-width: $laptop-size) {
    font-size: 20px;
    line-height: 23px;
  }

  @media (max-width: $tablet-size) {
    font-size: 18px;
    line-height: 21px;
  }

  @media (max-width: $mobile-size) {
    font-size: 16px;
    line-height: 19px;
  }

  &__link {
    color: $even-section-text-color;
    transition: all 1s;

    &:hover {
      color: $text-hover-color;
    }
  }
}
