@import 'src/scss/abstracts/mixins';
@import 'src/scss/abstracts/variables';

.video-section {
  background-color: $even-section-background;

  &__container.container {
    padding-top: 75px;
    padding-bottom: 75px;

    @media (max-width: $laptop-size) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media (max-width: $tablet-size) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @media (max-width: $mobile-size) {
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }

  &__video-description {
    @include flex;

    flex-wrap: nowrap;
    column-gap: 115px;
    margin-bottom: 75px;

    @media (max-width: $laptop-size) {
      margin-bottom: 35px;
    }

    @media (max-width: $tablet-size) {
      margin-bottom: 20px;
    }
  }
}
