@import 'src/scss/abstracts/variables';

.screen-resize {
  &__btn {
    height: 35px;
    width: 35px;
    background-image: url('./icons/fullscreen.svg');
    background-size: cover;

    @media (max-width: $laptop-size) {
      height: 26px;
      width: 26px;
    }

    @media (max-width: $mobile-size) {
      height: 18px;
      width: 18px;
    }
  }
}
