@import 'src/scss/abstracts/mixins';
@import 'src/scss/abstracts/variables';

.virtual-tour {
  padding: 75px 0;

  @media (max-width: $laptop-size) {
    padding: 60px 0;
  }

  @media (max-width: $tablet-size) {
    padding: 40px 0;
  }

  &__container {
    overflow: hidden;

    @media (max-width: $tablet-size) {
      padding-bottom: 40px !important;
    }

    @media (max-width: $mobile-size) {
      padding-bottom: 0 !important;
    }
  }

  &__heading {
    color: $even-section-heading-color;
    font-family: Forum, serif;
    font-weight: $section-heading-font-weight;
    font-size: $section-heading-font-size;
    line-height: $section-heading-line-height;
    text-transform: uppercase;
    letter-spacing: $section-heading-letter-spacing;

    @media (max-width: $laptop-size) {
      font-size: 50px;
      line-height: 75px;
    }

    @media (max-width: $tablet-size) {
      font-size: 40px;
      line-height: 60px;
    }

    @media (max-width: $mobile-size) {
      font-size: 28px;
      line-height: 40px;
    }

    &::after {
      display: block;
      margin-top: 25px;
      content: ' ';
      border-bottom: 3px solid $heading-line-color;

      @media (max-width: $laptop-size) {
        margin-top: 20px;
      }
    }
  }

  &__gallery-img {
    @include flex;

    column-gap: 60px;
    row-gap: 75px;
    margin-top: 75px;

    @media (max-width: 1250px) {
      column-gap: 10px;
    }

    @media (max-width: $laptop-size) {
      justify-content: space-evenly;
      row-gap: 60px;
      margin-top: 60px;
    }

    @media (max-width: $tablet-size) {
      row-gap: 40px;
      margin-top: 40px;
    }

    @media (max-width: $mobile-size) {
      column-gap: 0;
      justify-content: center;
    }
  }
}

.gallery-img {
  position: relative;
  left: -101%;
  transition: all 1s;

  &_visible {
    left: 0;
  }

  &__item {
    display: block;
    width: 30%;

    @media (max-width: $laptop-size) {
      width: 34%;
    }

    @media (max-width: $tablet-size) {
      width: 38.5%;
    }

    @media (max-width: $mobile-size) {
      width: 74%;
    }
  }

  &__link {
    &:hover .description-img__heading::after {
      width: 100%;
    }
  }
}
