@import 'src/scss/abstracts/variables';

.bottom-navbar {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);

  @media (max-width: $tablet-size) {
    display: flex;
  }

  .social-icons {
    margin: 0;
    width: 60%;
    min-width: 350px;

    @media (max-width: $mobile-size) {
      column-gap: 0;
      min-width: 260px;
    }
  }
}
