@import 'src/scss/abstracts/variables';

.footer {
  width: 100%;
  overflow: hidden;
  background: $black-secondary;

  &__content {
    padding-top: 84px;

    @media (max-width: $laptop-size) {
      padding-top: 60px;
    }

    @media (max-width: $tablet-size) {
      padding-top: 50px;
    }

    @media (max-width: $mobile-size) {
      padding-top: 40px;
    }
  }
}
