@import 'src/scss/abstracts/variables';

.top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  opacity: 0.2;
  transition: all 1s;

  @media (max-width: $mobile-size) {
    height: 70px;
    width: 70px;
  }

  &:hover {
    opacity: 1;
  }

  &__btn {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url('./img/01_back-to-top-icon.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
