@import 'src/scss/abstracts/variables';
@import 'src/scss/abstracts/mixins';

.social-icons {
  @include flex;

  column-gap: 25px;
  margin-top: auto;
  margin-left: auto;
  width: 24%;

  @media (max-width: 1450px) {
    width: 30%;
  }

  @media (max-width: 1160px) {
    column-gap: 15px;
    width: 35%;
  }

  @media (max-width: 900px) {
    width: 41%;
  }

  @media (max-width: $tablet-size) {
    margin-top: 50px;
    margin-right: 34px;
    width: 51%;
  }

  @media (max-width: 700px) {
    margin-right: 0;
    width: 60%;
  }

  @media (max-width: 600px) {
    width: 80%;
  }

  @media (max-width: 500px) {
    width: 100%;
  }

  @media (max-width: $mobile-size) {
    column-gap: 1px;
    margin: 0 auto;
    margin-top: 35px;
    width: 68%;
  }

  @media (max-width: 400px) {
    width: 90%;
  }
}

.social-icon {
  @include flex;

  justify-content: center;
  height: 48px;
  width: 48px;
  border: 1px solid $footer-top-border-color;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s;

  &:hover {
    background-color: $text-hover-color;
    border-color: $text-hover-color;
  }

  &__link {
    display: block;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 1s;

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }
}
