@import 'src/scss/abstracts/variables';
@import 'src/scss/abstracts/mixins';

.bottom-footer__content {
  @include flex;

  padding: 50px 0;
  color: $main-color;
  font-family: Roboto, Arial, sans-serif;
  font-weight: $link-font-weight;
  font-size: $link-font-size;
  line-height: $link-font-size;
  letter-spacing: $link-letter-spacing;

  @media (max-width: $tablet-size) {
    padding: 40px 0;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    row-gap: 20px;
  }

  @media (max-width: $mobile-size) {
    font-size: 16px;
    line-height: 22px;
  }
}

.author-link {
  font-family: Roboto, Arial, sans-serif;
  font-weight: $link-font-weight;
  font-size: $link-font-size;
  line-height: $link-font-size;
  letter-spacing: $link-letter-spacing;
  color: $main-color;
  transition: all 1s;

  @media (max-width: $mobile-size) {
    font-size: 16px;
    line-height: 22px;
  }

  &:hover {
    color: $link-active-color;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}
