@import './scss/abstracts/variables';

.app {
  min-height: 100vh;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1460px;
}

.header {
  background-color: $header-background;
}
