@import 'src/scss/abstracts/variables';
@import 'src/scss/abstracts/mixins';

.visitor-info {
  &__content {
    @include flex;

    align-items: center;
    column-gap: 40px;
    width: 970px;
    max-width: 970px;

    @media (max-width: 1200px) {
      column-gap: 20px;
    }

    @media (max-width: $laptop-size) {
      width: 100%;
    }

    @media (max-width: $tablet-size) {
      flex-direction: column;
    }
  }
}
