@import 'src/scss/abstracts/variables';
@import 'src/scss/abstracts/mixins';

.visitor-info {
  &__content {
    @include flex;

    align-items: center;
    column-gap: 40px;
    width: 970px;
    max-width: 970px;
  }
}
