@import 'src/scss/abstracts/variables';
@import 'src/scss/abstracts/mixins';

.swiper {
  position: absolute;
  top: 0;
  right: 0;

  @media (max-width: $tablet-size) {
    position: relative;
  }

  &__controls {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 74px;
    width: 60%;
    background-color: $header-background;

    @media (max-width: 1300px) {
      width: 70%;
    }

    @media (max-width: $laptop-size) {
      column-gap: 45px;
      padding-left: 150px;
      width: 110%;
    }

    @media (max-width: $tablet-size) {
      position: relative;
      column-gap: 5px;
      margin: 0 auto;
      padding: 30px;
      width: 75%;
    }

    @media (max-width: 600px) {
      width: 90%;
    }

    @media (max-width: 500px) {
      width: 100%;
    }

    @media (max-width: $mobile-size) {
      padding: 24px 30px;
    }
  }
}

.swiper-pagination-bullet {
  height: 20px;
  width: 20px;
  background-color: aqua;
}

.controls {
  &__fraction {
    @include flex;

    width: 16%;
    font-size: $small-font-size;
    font-weight: $normal-font-weight;
    line-height: $pagination-line-height;

    @media (max-width: $laptop-size) {
      font-size: 20px;
    }

    @media (max-width: $mobile-size) {
      font-size: 16px;
      line-height: 40px;
    }
  }

  &__pagination {
    @include flex;

    width: 39% !important;

    @media (max-width: $tablet-size) {
      width: 25% !important;
    }

    @media (max-width: 600px) {
      width: 30% !important;
    }
  }

  &__direction {
    @include flex;

    width: 20%;
  }
}

.pagination {
  &__bullet {
    height: 16px;
    width: 16px;
    background-color: $square-bullet-background-color;
    cursor: pointer;
    transition: all 1s;

    @media (max-width: $tablet-size) {
      height: 12px;
      width: 12px;
    }

    @media (max-width: $mobile-size) {
      height: 7px;
      width: 7px;
    }

    &_active {
      background-color: $welcome-carousel-active-bullet-color;
    }

    &:hover {
      background-color: $square-bullet-hover-background-color;
    }
  }
}

.direction {
  &__prev,
  &__next {
    height: 8px;
    width: 30px;
    background-size: cover;
    cursor: pointer;
    transition: all 1s;

    @media (max-width: $mobile-size) {
      width: 20px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__prev {
    background-image: url('../icons/prev.svg');

    &:hover {
      background-image: url('../icons/prev_hover.svg');
    }
  }

  &__next {
    background-image: url('../icons/next.svg');

    &:hover {
      background-image: url('../icons/next_hover.svg');
    }
  }
}
